<div
  class="w-full lg:w-[700px] p-3 sm:p-5 h-screen flex flex-col gap-4 mx-auto"
>
  <div class="flex items-center justify-between">
    <h1 class="text-3xl underline decoration-emerald-400 underline-offset-4">
      Ngx Auto Resize
    </h1>
  </div>
  <div class="flex gap-2 items-center mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-5 w-5"
    >
      <path
        d="M2.27 21.7s9.87-3.5 12.73-6.36a4.5 4.5 0 0 0-6.36-6.37C5.77 11.84 2.27 21.7 2.27 21.7zM8.64 14l-2.05-2.04M15.34 15l-2.46-2.46"
      />
      <path d="M22 9s-1.33-2-3.5-2C16.86 7 15 9 15 9s1.33 2 3.5 2S22 9 22 9z" />
      <path d="M15 2s-2 1.33-2 3.5S15 9 15 9s2-1.84 2-3.5C17 3.33 15 2 15 2z" />
    </svg>
    <h2>Example</h2>
  </div>
  <thread />
  <a
    href="https://github.com/HarshKanjiya/ngx-auto-resize---demo"
    target="_blank"
    class=""
    class="flex w-full min-h-16 items-center gap-2 px-3 py-1.5 group group-hover:before:duration-500 group-hover:after:duration-500 after:duration-500 hover:border-rose-300 hover:before:[box-shadow:_20px_20px_20px_30px_#a21caf] duration-500 before:duration-500 hover:duration-500 underline underline-offset-2 hover:after:-right-8 hover:before:right-12 hover:before:-bottom-8 hover:before:blur hover:underline hover:underline-offset-4 origin-left hover:decoration-2 hover:text-rose-300 relative bg-neutral-800 border text-left p-3 text-gray-50 text-base font-bold rounded-lg overflow-hidden before:absolute before:w-12 before:h-12 before:content[''] before:right-1 before:top-1 before:z-10 before:bg-violet-500 before:rounded-full before:blur-lg after:absolute after:z-10 after:w-20 after:h-20 after:content[''] after:bg-rose-300 after:right-8 after:top-3 after:rounded-full after:blur-lg"
  >
    <div class="rounded-full w-7 h-7 p-[5px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-full h-full"
      >
        <path
          d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
        />
        <path d="M9 18c-4.51 2-5-2-7-2" />
      </svg>
    </div>
    <p>Get example code on Github</p>
  </a>

  <div class="flex gap-2 items-center mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-5 w-5"
    >
      <path d="m7.5 4.27 9 5.15" />
      <path
        d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
      />
      <path d="m3.3 7 8.7 5 8.7-5" />
      <path d="M12 22V12" />
    </svg>
    <h2>Installation</h2>
  </div>
  <div
    class="bg-neutral-900 p-3 pl-5 rounded-md flex items-center justify-between"
  >
    <code> npm i ngx-auto-resize </code>
    <button
      (click)="copyYoClipBoard()"
      class="relative group p-2 hover:bg-neutral-800 rounded-md transition-all duration-150 text-neutral-400 hover:text-white"
    >
      @if(isCoppied){
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-5 w-5"
      >
        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
        <path
          d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
        />
        <path d="m9 14 2 2 4-4" />
      </svg>
      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-5 w-5"
      >
        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
        <path
          d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
        />
        <path d="M12 11h4" />
        <path d="M12 16h4" />
        <path d="M8 11h.01" />
        <path d="M8 16h.01" />
      </svg>

      } @if (isCoppied) {
      <div
        @copiedAnimation
        class="flex items-center gap-2 text-white absolute z-50 whitespace-normal -left-7 -top-9 origin-center rounded-lg bg-neutral-950 shadow-2xl py-2 px-3 text-xs w-max focus:outline-none transition-all duration-150 border-neutral-800 border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
        >
          <path d="M20 6 9 17l-5-5" />
        </svg>
        Coppied
      </div>
      }
    </button>
  </div>

  <div class="flex gap-2 items-center mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-5 w-5"
    >
      <circle cx="12" cy="12" r="10" />
      <path d="M12 16v-4" />
      <path d="M12 8h.01" />
    </svg>
    <h2>How to user ?</h2>
  </div>
  <div class="flex flex-col w-full gap-6">
    <div class="flex flex-col gap-3">
      <div>( step 1 ) => &#123; Import the Directive &#125;</div>
      <div class="w-full flex flex-col bg-neutral-900 rounded-md p-3">
        <code> &#64;Component &#40;&#123; </code>
        <code class="pl-5"> * </code>
        <code class="pl-5"> * </code>
        <code class="pl-5"> * </code>
        <code class="pl-5"> standalone: true, </code>
        <code class="pl-5">
          imports: [<code class="text-yellow-400">AutoResize</code>]
        </code>
        <code> &#125;&#41; </code>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div>( step 2 ) => &#123; use the Directive &#125;</div>
      <div class="w-full bg-neutral-900 rounded-md p-5">
        <code class="" lang="html">
          &#60;textarea <code class="text-yellow-400">AutoResize</code> &#62;
          &#60;/textarea&#62;
        </code>
      </div>
    </div>
  </div>

  <div
    class="flex items-center justify-between flex-col gap-4 sm:flex-row py-3 px-4 mt-8 bg-neutral-900 rounded-lg"
  >
    <div>
      <p class="text-xl">Thank you for using this Package</p>
      <p class="text-sm text-neutral-400">
        If you find it useful, make sure to give it a star
      </p>
    </div>
    <a
      target="_blank"
      href="https://github.com/HarshKanjiya/ngx-auto-resize"
      class="flex items-center justify-center gap-2 bg-white text-black px-3 py-1.5 rounded-md w-full sm:w-fit"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5"
      >
        <path
          d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
        />
        <path d="M9 18c-4.51 2-5-2-7-2" />
      </svg>
      <p>Github</p>
    </a>
  </div>
  <div class="py-6"></div>
</div>
